/* Global Styles */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #f5f0f0;
    background-color: #2b2b2b;
  }
  p {
    margin-bottom: 20px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f463e;
    padding: 10px;
  }
  .navbar a {
    color: #f2e2e2;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
  }
  .button-menu-toggle {
    display: none;
  }
  .botones-wapp {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  .botones-wapp:hover {
    background-color: #0a9a04;
  }
  /* Inicio Page Styles */
  #inicio h2, #inicio h3 {
    margin-bottom: 15px;
    color: #12cc12;
    text-align: center;
  }
  #inicio h1 {
    font-size: 2rem;
    color: #12cc44;
    text-align: center;
    margin-bottom: 1rem;
  }
  .image-text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .et_pb_image_wrap {
    float: left;
    margin-right: 30px;
  }
  .text-content {
    flex: 1;
  }
  .text-content p:first-child {
    color: red;
  }
  
  .text-content p:nth-child(2) {
    color: black;
  }
  /* Contacto Page Styles */
  .title {
    border-bottom: 2px solid blue;
    color: white;
  }
  .my-image-container {
    position: relative;
    width: 100%;
  }
  .my-image {
    max-width: 100%; /* Ajusta el ancho de la imagen al ancho de su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    display: block; /* Asegura que la imagen ocupe todo el ancho de su contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border-radius: 5px; /* Ajusta el radio de los bordes redondeados */
    box-shadow: 0 4px 6px rgba(214, 205, 205, 0.1); /* Ajusta el tamaño, el color y la opacidad de la sombra */
    border: 2px solid #000; /* Ajusta el grosor y el color del borde */
  }
  .et_pb_textinner {
    width: 100%; /* Corregido: falta el signo % */
    margin: 0 auto;
    text-align: center;
  }
  .etpb_text_ h2 {
    color: #12cc44;
    margin-bottom: 30px;
  }
  .etpb_text_ h2:before {
    content: "Método de pago: ";
    color: green;
    margin-right: 5px;
    display: inline-block;
  }
  
  .etpb_text_ h2:after {
    content: "Nequi,Daviplata,Paypal,Banco Union";
    color: red;
    margin-left: 5px;
    display: inline-block;
  }
  
  .et_pb_text_inner p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #333;
  }
  
  .et_pb_image_wrap {
    display: inline-block;
    margin: 0 20px 30px 0;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(219, 215, 215, 0.1);
  }
  
  .et_pb_image_wrap img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  body {
    background-color: white;
  }
  /* Testimonios Page Styles */
  .et_pb_text_inner h2 {
    color: #12cc44;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
  }
  .et_pb_text_inner h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
    background-color: #007bff;
  }
  .et_pb_text_inner p span {
    color: #020603;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .et_pb_image_wrap {
    display: inline-block;
    margin: 0 20px 30px 0;
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .et_pb_image_wrap img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  .et_pb_image_wrap img:hover {
    transform: scale(1.1);
  }
  /* Acerca Page Styles */
  h1, h2, h3 {
    margin-bottom: 15px;
  }
  .my-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
  }
  .et_pb_textinner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .etpb_text_ h2 {
    color: #12cc44;
    margin-bottom: 30px;
  }
  .et_pb_text_inner p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #333;
  }
  .et_pb_image_wrap {
    display: inline-block;
    margin: 0 20px 30px 0;
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .et_pb_image_wrap img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .et_pb_number_counter {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  .et_pb_number_counter:hover {
    transform: scale(1.1);
  }
  .et_pb_number_counter .percent-value {
    font-size: 36px;
    font-weight: bold;
  }
  .et_pb_number_counter .percent-sign {
    font-size: 24px;
  }
  /* Trabajos Page Styles */
  #trabajos h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: red;
    position: relative;
  }
  #trabajos h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px; /* Cambia el valor de -8px a -15px */
    height: 2px;
    background-color: #007bff; /* Cambia el color de la línea aquí */
  }
  .et_pb_divider {
    margin: 30px auto;
    width: 50px;
    height: 2px;
    background-color: #000000;
  }
  .et_pb_text_inner {
    text-align: center;
  }
  .et_pb_text_inner img {
    max-width: 50%; /* Change the maximum width to 50% */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a box-shadow to highlight the images */
    display: block;
    margin: 0 auto;
  }
  .et_pb_text_inner h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #12cc44; /* Change the color to green */
  }
  
  .et_pb_text_inner img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor */
  }
  .et_pb_text_inner p {
    font-size: 1.1rem; /* Increase the font size to 1.1rem */
    color: #0a0808; /* Change the color to black */
    line-height: 1.5; /* Add a line-height of 1.5 to improve readability */
    text-align: center; /* Center the text */
    display: block;
    margin: 0 auto;
  }
  .botones-wapp {
    display: inline-block;
    margin: 30px auto;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
  }
  .botones-wapp:hover {
    background-color: #3e8e41;
  }
    @media (max-width: 768px) {
      .navbar {
        flex-direction: column;
      }
    
      .nav-links {
        display: none;
      }
    
      .button-menu-toggle {
        display: block;
        background-color: #fff;
        color: #14c005;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    }
    }
    @media (min-width: 768px) {
    .button-menu-toggle {
    display: none;
    }
    
    .nav-links {
    display: flex;
    }
    }
  
  


    resumen 
    .botones-wapp {
        display: inline-block;
        margin: 30px auto;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #12cc44;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        transition: background-color 0.3s ease;
      }
      .botones-wapp:hover {
        background-color: #0a9a04;
      }
      .et_pb_text_inner p:last-child {
        font-size: 14px;
        line-height: 1.5;
        color: #666;
        margin-bottom: 0;
      }
      .et_pb_text_inner h1:first-child {
        position: relative;
      }
      .et_pb_text_inner h1:first-child::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 2px;
        background-color: #007bff; /* Cambia el color de la línea aquí */
      }
      h1 span {
        color: #fff; /* Cambia el color a blanco */
      }
      .botones-wapp {
        background-color: #14c005;
        color: #fff;
        padding: 1rem 2rem;
        text-decoration: none;
        display: inline-block;
        margin: 1rem auto;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
      .botones-wapp:hover {
        background-color: #1c6e0b;
      }
      p {
        margin-bottom: 20px;
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
      }
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3f463e;
        padding: 10px;
      }
      .navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin-right: 20px;
      }
      .button-menu-toggle {
        display: none;
      }
      .botones-wapp {
        background-color: #14c005;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
      .botones-wapp:hover {
        background-color: #0a9a04;
      }
      .et_pb_number_counter {
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: transform 0.3s ease;
      }
      .et_pb_number_counter:hover {
        transform: scale(1.1);
      }
      .et_pb_number_counter .percent-value {
        font-size: 36px;
        font-weight: bold;
      }
      .et_pb_number_counter .percent-sign {
        font-size: 24px;
      }
      .et_pb_image_wrap img {
          border-radius: 5px;
      }



LOS DOS CODIGOS


      /* Global Styles */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #f5f0f0;
  background-color: #2b2b2b;
}
p {
  margin-bottom: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f463e;
  padding: 10px;
}
.navbar a {
  color: #f2e2e2;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
.button-menu-toggle {
  display: none;
}
.botones-wapp {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.botones-wapp:hover {
  background-color: #0a9a04;
}
  /* Inicio Page Styles */
  #inicio h2, #inicio h3 {
    margin-bottom: 15px;
    color: #12cc12;
    text-align: center;
  }
  
  #inicio h1 {
    font-size: 2rem;
    color: #12cc44;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .image-text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .et_pb_image_wrap {
    float: left;
    margin-right: 30px;
  }
  
  .text-content {
    flex: 1;
  }
  
  .text-content p:first-child {
    color: red;
  }
  
  .text-content p:nth-child(2n) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .text-content p:nth-child(2n+1) {
    color: black;
  }
  /* Contacto Page Styles */
.my-image-container {
  position: relative;
  width: 100%;
}
.my-image {
  max-width: 100%; /* Ajusta el ancho de la imagen al ancho de su contenedor */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  display: block; /* Asegura que la imagen ocupe todo el ancho de su contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  border-radius: 5px; /* Ajusta el radio de los bordes redondeados */
  box-shadow: 0 4px 6px rgba(143, 136, 136, 0.1); /* Ajusta el tamaño, el color y la opacidad de la sombra */
  border: 2px solid #7d7b7b; /* Ajusta el grosor y el color del borde */
}
.et_pb_textinner {
  width: 100%; 
  margin: 0 auto;
  text-align: center;
}
.etpb_text_ h2 {
  color: #12cc44;
  margin-bottom: 30px;
}
.etpb_text_ h2:before {
  content: "Método de pago: ";
  color: green;
  margin-right: 5px;
  display: inline-block;
}
.et_pb_text_inner p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #333;
}
.et_pb_image_wrap {
  display: inline-block;
  margin: 0 20px 30px 0;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(219, 215, 215, 0.1);
}
.et_pb_image_wrap img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
/* Testimonios Page Styles */
.et_pb_text_inner h2 {
  color: #12cc44;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}
.et_pb_text_inner h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #007bff; /* Cambia el color de la línea aquí */
}
.et_pb_text_inner p span {
  color: #020603;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.et_pb_image_wrap {
  display: inline-block;
  margin: 0 20px 30px 0;
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.et_pb_image_wrap img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.et_pb_image_wrap img:hover {
  transform: scale(1.1);
}
/* Acerca Page Styles */
h1, h2, h3 {
  margin-bottom: 15px;
}
h1 {
  font-size: 2rem;
  color: #12cc44;
  text-align: center;
  margin-bottom: 1rem;
}
.my-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
}
.et_pb_textinner {
  width: 100%; 
  margin: 0 auto;
  text-align: center;
}
.etpb_text_ h2 {
  color: #12cc44;
  margin-bottom: 30px;
}
.et_pb_text_inner p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #333;
}
.et_pb_image_wrap {
  display: inline-block;
  margin: 0 20px 30px 0;
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.et_pb_image_wrap img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.botones-wapp {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #12cc44;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.botones-wapp:hover {
  background-color: #0a9a04;
}
.et_pb_text_inner p:last-child {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 0;
}
.et_pb_text_inner h1:first-child {
  position: relative;
}
.et_pb_text_inner h1:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px; /* Cambia el valor de -8px a -15px */
  height: 2px;
  background-color: #007bff; /* Cambia el color de la línea aquí */
}
.botones-wapp {
  background-color: #14c005;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  margin: 1rem auto;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
/* Trabajos Page Styles */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}
#trabajos h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: red;
  position: relative;
}
#trabajos h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px; /* Cambia el valor de -8px a -15px */
  height: 2px;
  background-color: #007bff; /* Cambia el color de la línea aquí */
}
.et_pb_divider {
  margin: 30px auto;
  width: 50px;
  height: 2px;
  background-color: #000000;
}
.et_pb_text_inner {
  text-align: center;
}
.et_pb_text_inner img {
  max-width: 50%; /* Change the maximum width to 50% */
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a box-shadow to highlight the images */
  display: block;
  margin: 0 auto;
}
.et_pb_text_inner h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #12cc44; /* Change the color to green */
}

.et_pb_text_inner img:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor */
}
.et_pb_text_inner p {
  font-size: 1.1rem; /* Increase the font size to 1.1rem */
  color: #0a0808; /* Change the color to black */
  line-height: 1.5; /* Add a line-height of 1.5 to improve readability */
  text-align: center; /* Center the text */
  display: block;
  margin: 0 auto;
}
.botones-wapp {
  display: inline-block;
  margin: 30px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}
.botones-wapp:hover {
  background-color: #3e8e41;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
  display: none;
  }

  .button-menu-toggle {
  display: block;
  background-color: #fff;
  color: #14c005;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  }
}
@media (min-width: 768px) {
  .button-menu-toggle {
  display: none;
  }

  .nav-links {
  display: flex;
  }
}



